@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    /* background-color: yellow; */
background-color: rgb(16, 82, 82);
box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.439);

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    position:fixed;
    width: 100vw;
    z-index: 2;

}  
.header input{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(37, 32, 32);
    padding: 0;
    height: 22px;
    margin: 10px;
} 
.header a{
    text-decoration: none;
}
.header h1::first-letter{
    color: yellow;
    font-size: larger;
    font-family: 'Fredoka One', cursive;
}
